<!DOCTYPE html>
<html>
  <head>
    <title>List of birthday presents</title>
  </head>
  <body>
    <p>
      List for: {{ .Person }}
    </p>
    <table>
      	<tr>
          <td>Present</td>
          <td>Price</td>
    	</tr>
			{{ range .Presents}}
      			<tr>
              		<td>{{ .Name }}</td>
              		<td>{{ .Price }}</td>
      			</tr>
			{{ end }}
    </table>
  </body>
</html>